body{background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-misctexture01-tong-025-eye-01_1.jpg?w=1000&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=d3a00d6c0f4d514aeb5fe93b069730c3); background-attachment: fixed;}
html{scroll-behavior: smooth;}
*{color: white; text-decoration: none; font-size: x-large; list-style: none; font-family: 'Bodoni Moda', serif; box-sizing: border-box; margin: 0; padding: 0; border: none;}

/*Navbar*/
  .logo{background-image: url("../../media/logo.png"); background-repeat: no-repeat; background-position: center; background-size: cover; width: 6rem; height: 6rem; margin-left: 1rem; margin-right: 1rem;}
  #header{display: flex; align-items: center; position: fixed; top: 0;  right: 0; left: 0; z-index: 100; margin: auto; box-shadow: inset 0 2rem 3rem 0 rgba(0, 15, 15); background-color: rgba(20, 10, 10, 0.5);}
  #mobile{display: none;}
  .navbar a{position: relative; background: none; padding: 1.5rem; box-shadow: 0 1px 0 0 rgba(206, 189, 179, 0.5);}
  .navbar a::before, .navbar > a::after{content: ''; position: absolute; width: 100%; height: 100%; background-color: rgba(206, 189, 179, 0.1); top: 0; left: 0; transition: clip-path .5s; z-index: -1;}
  .navbar a::before{clip-path: circle(0 at 0 0);}
  .navbar a::after{clip-path: circle(0 at 100% 100%);}
  .navbar a:hover::before{clip-path: circle(100% at 0 0);}
  .navbar a:hover::after{clip-path: circle(100% at 100% 100%);}
  #menu{display: flex; list-style: none;}
  #menu a{display: block;}

  /* Dropdown button */
  .dropdown{background-color: inherit; outline: none; border: none; padding: 1.5rem; position: relative; background: none; z-index: 10; box-shadow: 0 1px 0 0 rgba(206, 189, 179, 0.5);}
  .dropdown::before, .dropdown::after{content: ''; position: absolute; width: 100%; height: 100%; background-color: rgba(206, 189, 179, 0.1); top: 0; left: 0; transition: clip-path .5s; z-index: -1;}
  .dropdown::before{clip-path: circle(0 at 0 0);}
  .dropdown::after{clip-path: circle(0 at 100% 100%);}
  .dropdown:hover::before{clip-path: circle(100% at 0 0);}
  .dropdown:hover::after{clip-path: circle(100% at 100% 100%);}
  .dropdown-content{display: none; position: absolute; margin-top: 1.5rem; margin-left: -1.5rem; width: 100%;}
  .dropdown-content > a{display: block; text-align: left; padding: 1rem; background-color: rgba(20, 10, 10, 0.3);}
  .dropdown:hover .dropdown-content{display: block;}
  .drop{display: none;}

  @media (max-width: 768px){
      /*Small-Navbar*/
      .drop{display: block;}
      .logo{width: 5rem; height: 5rem; margin-top: 0.2rem;}
      .dropdown{display: none;}
      #menu{background-color: rgba(20, 10, 10, 0.5); backdrop-filter: blur(5px); display: block; position: absolute; width: 100%; top: 5rem; right: 0px; transition: 1s; z-index: 100; height: 0px; visibility: hidden; overflow-y: hidden;}
      #nav.active #menu{height: calc(100vh - 70px); visibility: visible; overflow-y: auto;}
      #menu a{padding: 1.5rem 0; margin: 0 1rem; text-align: center;}
      #mobile{display: flex; border: none; background: none; cursor: pointer; gap: 0.5rem;}
      #hamburger{border-top: 2px solid; width: 40px; position: absolute; right: 2rem; margin-top: -7px;}
      #hamburger::after,
      #hamburger::before{content: ''; display: block; width: 40px; height: 2px; background: currentColor; margin-top: 10px; transition: 0.3s; position: relative;}
      #nav.active #hamburger {border-top-color: transparent;}
      #nav.active #hamburger::before{transform: rotate(135deg);}
      #nav.active #hamburger::after{transform: rotate(-135deg); top: -10px;}
    }



/*index*/

  /*Img of Coffee on top*/
  .img-top{background-image: url('../../media/coffee.jpg'); background-size: cover; background-position: right; background-repeat: no-repeat; position: relative; top: 0; right: 0; left: 0; height: 100vh; z-index: -10;}

  /*Phrase & links on top*/
  .phrase-first{position: relative; font-size: 3.5rem; font-family: 'Bebas Neue', cursive; letter-spacing: 0.3rem; text-shadow: 0 0.5rem 1rem black;}
  .p-phrase-link{position: absolute; top: 6rem; padding: 2rem;}
  .p-2link{margin-top: 2rem;}
  .p-phrase-link a{position: relative; font-family: 'Bebas Neue', cursive; padding: 0.7rem; background-color: rgba(210, 105, 30, 0.8); border: solid 1px; text-align: center;}
  .diamond{padding: 1rem; text-align: center;}

  @media (min-width:320px) and (max-width:1024px){
    .p-phrase-link{display: inline-table; left: 0; right: 0; top: 0; bottom: 0; margin: auto; text-align: center;}
    .phrase-first{display: table; text-align: center;}
    .p-phrase-link a{display: inline-table; width: 100%; font-size: 1.5rem;}
  }

  @media (max-width: 480px){
    .p-phrase-link{top: 6rem;}
    .phrase-first{font-size: 2.7rem;}
  }

  /*3 Imgs*/
  .card-all{display: inline-flex; position: relative; justify-content: space-around; height: 100%; width: 100%;}
  .img-coffee{background-image: url(https://images.unsplash.com/photo-1524350876685-274059332603?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80);}
  .img-coffee1{background-image: url(https://images.unsplash.com/photo-1606160596333-0afbc139925c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);}
  .img-coffee2{background-image: url(https://images.unsplash.com/photo-1630938237517-0fcaefdb2641?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);}
  .card-info{width: 100%; background-color: rgba(0, 0, 0, 0.5); border: solid 2px rgba(206, 189, 179, 0.2); margin: 1rem;}
  .all-coffee{background-position: center; background-repeat: no-repeat; background-size: cover; height: 45vh;}
  .text-card{padding: 5%;}
  .text-card h1{font-family: 'Bebas Neue', cursive; font-size: 1.5rem; color: chocolate;}

  @media (max-width: 768px){
    .card-all{display: inline-table; justify-content: center;}
    .all-coffee{margin: auto; width: 70%; border: solid 2px rgba(206, 189, 179, 0.2);}
    .card-info{width: 100%; margin: auto; margin: 5vh 0; border: none;}
    .text-card{position: absolute; margin: -23vh 15%; text-align: center; backdrop-filter: blur(3px); background-color: rgba(0, 0, 0, 0.5);}
  }
  @media (max-width: 480px){
    .card-info{width: 100%;}
  }

  /*About*/
  .img-who{background-image:url(https://images.unsplash.com/photo-1524671710025-d79530c2f957?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80); background-size: cover; background-position: center; background-repeat: no-repeat; background-attachment: fixed;}
  .main{display:flex; width: 100%; height: 100%;}
  .card{width: 100%; height: 100%; transition:all 1s; display: flex; margin: auto; padding: 2rem 0;}
  .heading{font-family: 'Bebas Neue', cursive; color: rgba(210, 105, 30, 0.7); position: relative; transition: all 1s; margin-bottom: 1rem;}
  .card .heading::after{background-color: chocolate; position: absolute; content: ""; height: 5px; width: 0; left: 0; bottom: 0; transition: 0.5s;}
  .card:hover .heading:after{width: 100%;}
  .card .heading{font-weight: 100; font-size: 4rem; text-align: center; transform: translateY(100%); transition: all 1s;}
  .card .text{text-align: center; transform: translateY(50%); opacity:0; transition: all 1s; line-height: 30px;}
  .card:hover{background-color:rgba(0, 0, 0, 0.7);}
  .card:hover .heading{transform: translateY(0%); color: rgba(255, 255, 255, 0.5);}
  .card:hover .text{transform: translateY(0%);}
  .card:hover .text, .card:hover{opacity: 1;}
  .v{padding: 0 5% 5% 5%;}

  /*Footer*/
  .footer{line-height: 3.5rem; font-size: 0.7rem; letter-spacing: 2px; padding: 2.5rem;}
  .grid-footer{display: grid; grid-template-columns: repeat(3,1fr);}
    /*Opening Hours*/
    .footer ul{font-family: 'Bebas Neue', cursive; font-size: 1.5rem; color: chocolate; max-width: 30rem;}
    .footer li{display: grid; grid-template-columns: repeat(2,1fr);}
    /*Stay in Touch*/
    .p-info-font{display: grid; margin-right: 1.5rem; font-family: 'Bebas Neue', cursive; font-size: 1.5rem; color: chocolate;}
    .p-info-font i{margin-right: 1rem;}
    .p-info-font a{font-size: 0.7rem;}
    .p-info-font a:hover{color: rgba(206, 189, 179, 0.5);}
    /*Recent Posts*/
    .post{font-family: 'Bebas Neue', cursive; font-size: 1.5rem; color: chocolate;} 
    .post ul{display: table; border: solid 1px rgb(206, 189, 179); border-radius: 0.4rem; line-height: normal; min-width: 100%; margin-top: 0.5rem;}
    .img-new{background-image: url(https://images.unsplash.com/photo-1552346989-e069318e20a5?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2074);}
    .img-new0{background-image: url(https://images.unsplash.com/photo-1617086903048-65e5d76dd467?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1964);}
    .style-new{display: table-cell; width: 4rem; height: 4rem; border-radius: 0.4rem; margin: 0.2rem; background-position: center; background-size: cover; background-repeat: no-repeat;}
    .post li{display: block; padding: 1rem; display: table-cell; float: left;}
    .post h1, p{font-size: 0.7rem;}
    /*Social Medias*/
    .social-footer{display: flex; justify-content: center;}
    .social-footer i{font-size: 1.5rem; margin-top: 2rem; padding: 0 2rem;}
    .social-footer i:hover{color: rgba(206, 189, 179, 0.5);}

    @media(max-width:900px){
      .footer{text-align: center; font-size: 1rem;}
      .footer hr{margin: auto;}
      .grid-footer{display: inline-table; margin: auto;}
      .p-info-font a{font-size: 1rem;}
      .post h1, p{font-size: 1rem;}
    }

/*All Booking*/

  /*Title Reservation*/
  .reser{position: absolute; z-index: 50; display: flex; width: 100%; height: 50%; justify-content: center; align-items: flex-end; font-size: 5rem; font-family: 'Bebas Neue', cursive; color: rgba(210, 105, 30, 0.9); text-shadow: 0 1rem 1rem black;}

  /*Gallery*/
  .container-galeria{display: grid; grid-template-columns: repeat(6,1fr); grid-auto-rows: 20vh; padding: 5px; grid-gap: 5px;}
  .item-galeria{position: relative;}
  .item-galeria .img-galeria{width: 100%; height: 100%; object-fit: cover;}
  .h-1{grid-row: span 1;}
  .h-2{grid-row: span 2;}
  .w-1{grid-column: span 1;}
  .w-2{grid-column: span 2;}

  @media(max-width:600px){
    .container-galeria{grid-template-columns: repeat(1,1fr); grid-auto-rows: 50vh;}
    .h-2{grid-row: span 1;}
    .w-2{grid-column: span 1;}
    .reser{position: relative; margin: 5rem 0 0 0; align-items: baseline; color: chocolate; text-shadow: none;}
  }

  /*3 Cup of coffee*/
  .coffee-all{display: flex; position: relative; margin-top: -40px; justify-content: space-around; height: 100%; width: 100%;}
  .cup-coffee{width: 20rem; justify-content: space-around;}
  .img-s1{background-image: url('../../media/cup.png');}
  .img-s2{background-image: url('../../media/cup.png');}
  .img-s3{background-image: url('../../media/cup.png');}
  .all-s{background-position: center; background-repeat: no-repeat; background-size: contain; width: auto; height: 7rem;}
  .text-coffee{padding: 5%; text-align: center;}
  .text-coffee h1{font-family: 'Bebas Neue', cursive; font-size: 1.5rem; color: chocolate;}

  @media(max-width:768px){
    .coffee-all{display: inline-block; margin-top: 0;}
    .cup-coffee{margin: auto;}
  }

  /*Send*/
  .send{position: relative; font-family: 'Bebas Neue', cursive; color: chocolate; font-size: 1.5rem; display: flex; justify-content: center; padding: 2rem; text-align: center;}

  /*Booking*/
  .booking{position: relative; display: flex; justify-content: space-around; width: 100%; margin-bottom: 3rem;}

    /*Calendar*/
    .calendar {height: max-content; width: max-content; z-index: 50; margin: auto; background-color: rgba(206, 189, 179, 0.3); border: solid 2px rgb(206, 189, 179); border-radius: 10px; padding: 1.5rem; overflow: hidden;}
    .calendar-header {display: flex; justify-content: space-between; align-items: center; padding: 0.5rem;}

    /*Week day*/
    .calendar-week-day {height: 2rem; display: grid; grid-template-columns: repeat(7, 1fr);}
    .calendar-week-day div {display: grid; place-items: center;}

    /*Days*/
    .calendar-days {display: grid; grid-template-columns: repeat(7, 1fr); gap: 1rem;}
    .calendar-days div {width: 2rem; height: 2rem; display: flex; align-items: center; justify-content: center; padding: 0.5rem; position: relative; cursor: pointer; animation: to-top 1s forwards;}
    .calendar-days div span {position: absolute;}
    .calendar-days div:hover span {transition: width .2s ease-in-out, height .2s ease-in-out;}
    .calendar-days div span:nth-child(1),
    .calendar-days div span:nth-child(3) {width: 2px; height: 0; background-color: rgba(206, 189, 179, 0.5);}
    .calendar-days div:hover span:nth-child(1),
    .calendar-days div:hover span:nth-child(3) {height: 100%;}
    .calendar-days div span:nth-child(1) {bottom: 0; left: 0;}
    .calendar-days div span:nth-child(3) {top: 0; right: 0;}
    .calendar-days div span:nth-child(2),
    .calendar-days div span:nth-child(4) {width: 0; height: 2px; background-color: rgba(206, 189, 179, 0.5);}
    .calendar-days div:hover span:nth-child(2),
    .calendar-days div:hover span:nth-child(4) {width: 100%;}
    .calendar-days div span:nth-child(2) {top: 0; left: 0;}
    .calendar-days div span:nth-child(4) {bottom: 0; right: 0;}
    .calendar-days div:hover span:nth-child(2) {transition-delay: 0.1s;}
    .calendar-days div:hover span:nth-child(3) {transition-delay: 0.2s;}
    .calendar-days div:hover span:nth-child(4) {transition-delay: 0.4s;}

    /*Today*/
    .calendar-days div.curr-date,
    .calendar-days div.curr-date:hover {font-weight: bolder; background-color: rgba(210, 105, 30); border-radius: 50%;}
    .calendar-days div.curr-date span {display: none;}

    /*Month*/
    .month-picker {border-radius: 10px; cursor: pointer; font-weight: bold; transition: all .2s;}
    .month-picker:hover {opacity: 0.5;}

    /*Year >*/
    .year-picker {display: flex; align-items: center;}
    .year-change {border-radius: 50%; padding: 1rem; display: grid; place-items: center; cursor: pointer; font-weight: bold; transition: all .2s;}
    .year-change:hover {opacity: 0.5;}

    /*Show month list*/
    .x{position: relative; display: flex; top: -10rem; justify-content: center;}
    .month-list {position: absolute; width: max-content; height: max-content; background-color: rgba(0, 0, 0, 0.7); font-weight: bolder; padding: 1.5rem; grid-template-columns: repeat(3, auto); display: grid; transform: scale(1.5); visibility: hidden; pointer-events: none; border-radius: 10px;}
    .month-list.show {transform: scale(1); visibility: visible; pointer-events: visible; transition: all 0.2s ease-in-out;}
    .month-list > div {display: grid; place-items: center;}
    .month-list > div > div {width: 100%; padding: 5px 20px; border-radius: 10px; text-align: center; cursor: pointer; color: chocolate; transition: all .2s;}
    .month-list > div > div:hover {color: rgb(206, 189, 179);}

    /*Information*/
    .p-information{height: max-content; width: max-content; margin: auto; z-index: 50;}
    .p-allinfo{display: table;}
    .information{background-color: rgba(206, 189, 179, 0.3); border-radius: 10px; padding: 0.1rem 0.5rem; margin: 0.5rem; border: solid 2px rgb(206, 189, 179); cursor: text;}
    .submit{background-color: chocolate; border-radius: 10px; padding: 0.5rem 1rem; margin: 0.5rem; cursor: pointer; font-weight: bolder;}

    @keyframes to-top {
        0% {transform: translateY(100%); opacity: 0;}
        100% {transform: translateY(0); opacity: 1;}
    }

    @media (max-width:1024px){
      .booking{display: inline-block;}
      .p-information{text-align: center;}
      .p-allinfo{display: block;}
      .information{display: table; width: 100%; margin: 1rem 0;}
    }

    @media (max-width:480px){
      .p-allinfo{display: block;}
      .information{display: table; width: 100%; margin: 1rem 0;}
    }

/*Success page*/

  /*Thank you!*/
  .thanks{height: 100%; margin-top: 20vh; text-align: center; background-image: url(https://images.unsplash.com/photo-1522008174174-1a7e4c12078f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80); background-position: center; background-size: cover; background-repeat: no-repeat; padding: 2rem;}
  .thanks h6{font-size: 3rem; color: chocolate;}
  .thanks h1{margin-bottom: 2rem;}
  .thanks .link{padding: 0.7rem; background-color: rgba(210, 105, 30, 0.7); border: solid 1px; width: max-content; margin: auto;}
  .thanks a{font-family: 'Bebas Neue', cursive;}

  @media (min-width:320px) and (max-width:1024px){
    .thanks{height: 100vh; margin: 0; background-position: bottom;}
    .center-thanks{position: relative; top: 50%; transform: translateY(-50%); background-color: rgba(0, 0, 0, 0.5); box-shadow: 0 0 1.5rem 1.5rem rgba(0, 0, 0, 0.5); padding: 5rem 0;}
  }


/*Menu*/

  /*Background*/
  .img-coffee-menu{background-image: url(https://images.unsplash.com/photo-1619416116042-b210c119b7f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80); background-position: center; background-attachment: fixed; background-size: cover; background-repeat: no-repeat; height: 100%; width: 100%; display: flex; justify-content: center; padding-bottom: 5rem;}

    /*Card of Menu*/
    .all-menu{background-image: url(https://img.freepik.com/foto-gratis/viejo-fondo-negro-textura-grunge-papel-tapiz-oscuro-pizarra-pizarra-pared-habitacion_1258-28312.jpg?t=st=1651781276~exp=1651781876~hmac=3c0a7ff802fb28230586accf779e848ee6aeb157a30d8cc8392be3bfd3f91f05&w=1380); background-repeat: no-repeat; background-size: cover; width: 60%; justify-content: center; border-style: double; border-width: 0.5rem; border-color: chocolate; box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, 0.7);}
      /*Menu title & IMG*/
      .title-img{display: grid; margin: 2rem; grid-template-columns: repeat(2,1fr); width: fit-content;}
      .img-beans{width: 9rem;}
      .title-menu{line-height: 5rem;}
      .title-menu h1{font-family: 'Shadows Into Light Two', cursive; font-size: 4rem; letter-spacing: 1rem}
      .title-menu h2{font-family: 'Bebas Neue', cursive; font-size: 7rem; color: chocolate;}
      /*Name of drink*/
      .p-menu{display: grid; grid-template-columns: repeat(2,1fr); text-align: center;}
      .all-menu ul{font-family: 'Shadows Into Light Two', cursive; font-size: 1.5rem; font-weight: bold; margin: 2rem;}
      .all-menu li{display: grid; grid-template-columns: repeat(2,1fr);}
      .all-menu p{font-family: 'Kalam', cursive; font-weight: 100;}
      .all-menu ul, p{letter-spacing: 1px;}
      /*Specials*/
      .p-menu-specials{display: grid; grid-template-columns: repeat(2,1fr); text-align: center; background-color: chocolate; border-radius: 0 50% 50% 0 ; width: 100%;}
      .p-mug{width: 100%; text-align: right;}
      .img-mug{width: 13rem; margin: -1rem 2rem; margin-left: 0;}

      @media (min-width:320px) and (max-width:600px){
        .img-beans{width: 7.5rem;}
        .title-menu{line-height: 4rem;}
        .title-menu h1{font-size: 3.3rem; letter-spacing: 0.7rem}
        .title-menu h2{font-size: 5.5rem;}
        .all-menu{width: 95%;}
        .p-menu{display: block;}
        .p-menu-specials{display: block;}
        .p-menu-specials ul{position: relative; top:2rem;}
        .p-mug{text-align: center;}
        .img-mug{width: 10rem; margin: auto;}
      }

      @media (min-width:601px) and (max-width:1024px){
        .all-menu{width: 85%;}
      }



/*320px — 480px: Mobile devices*/
@media (min-width:320px) and (max-width:480px){
  *{font-size: small;}
}

/*481px — 768px: iPads, Tablets*/
@media (min-width:481px) and (max-width:768px){
  *{font-size: small;}
}

/*769px — 1024px: Small screens, laptops*/
@media (min-width:769px) and (max-width:1024px){
  *{font-size: medium;}
}

@media (min-width:1025px) and (max-width:1200px){
  *{font-size: medium;}
}

@media (min-width:1201px) and (max-width:1500px){
  *{font-size: large;}
}
