{% extends "base.html" %}
{% load static %}

{% block context %}
    <div class="img-coffee-menu">
        <div class="all-menu" style="margin-top: 7rem;">
            <div class="title-img">
                <div class="title-menu">
                    <h1>Coffe</h1>
                    <h2>Menu</h2>
                </div>
                <img class="img-beans" src="https://www.pngkit.com/png/full/254-2541883_coffee-beans-clipart-colombian-coffee-coffee-beans-sketch.png">
                <hr style="display: block; margin-before: 0.5em; margin-after: 0.5em; margin-start: auto; margin-end: auto; overflow: hidden; border-style: dashed; border-width: 1px;">
            </div>
            
            <div class="p-menu">
                <ul>Tradicional
                    <li><p>Name of drink</p><p>5.50</p></li>
                    <li><p>Name of drink</p><p>5.50</p></li>
                    <li><p>Name of drink</p><p>5.50</p></li>
                    <li><p>Name of drink</p><p>5.50</p></li>
                </ul>
                <ul>Hot
                    <li><p>Name of drink</p><p>11.99</p></li>
                    <li><p>Name of drink</p><p>11.99</p></li>
                    <li><p>Name of drink</p><p>11.99</p></li>
                    <li><p>Name of drink</p><p>11.99</p></li>
                </ul>
            </div>

            <div class=" p-menu-specials">
                <ul>Specials
                    <li><p>Name of drink</p><p>13.50</p></li>
                    <li><p>Name of drink</p><p>13.50</p></li>
                    <li><p>Name of drink</p><p>13.50</p></li>
                    <li><p>Name of drink</p><p>13.50</p></li>
                </ul>
                <div class="p-mug"><img class="img-mug" src="../../media/mug.png"></div>
            </div>

            <div class="p-menu">
                <ul>Cold
                    <li><p>Name of drink</p><p>8.80</p></li>
                    <li><p>Name of drink</p><p>8.80</p></li>
                    <li><p>Name of drink</p><p>8.80</p></li>
                    <li><p>Name of drink</p><p>8.80</p></li>
                </ul>
                <ul>Desserts
                    <li><p>Name of drink</p><p>13.50</p></li>
                    <li><p>Name of drink</p><p>13.50</p></li>
                    <li><p>Name of drink</p><p>13.50</p></li>
                    <li><p>Name of drink</p><p>13.50</p></li>
                </ul>
            </div>
        </div>     
    </div>
{% endblock %}