{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block meta %}
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}

        {% block corecss %}
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
            <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
        {% endblock %}

        {% block import_css %}
            <style>
                @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');
                @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
            </style>
        {% endblock %}

        {% block js %}
            <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
        {% endblock %}
        
        <title>Spa {% block title %}{% endblock %}</title>
    </head>
    <body>
        {% block navbar %}
            <header id="header">
                <!--Logo-->
                <a href="index"><div class="logo"></div></a>
                <!--Navbar-->
                <nav id="nav">
                    <button aria-label="Open menu" aria-controls="menu" aria-haspopup="true" aria-expanded="false" id="mobile"><span id="hamburger"></span></button>
                    <div id="menu" role="menu" class="navbar">
                        <a href="index">Home</a>
                        <button class="dropdown">More <i class="fa fa-caret-down"></i>
                            <ul class="dropdown-content">
                                <a href="contact">Contact</a></li>
                                <a href="contact">Subscribe</a></li>
                                <a href="menu">Menu</a></li>
                            </ul>
                        </button>
                        <a href="reservation">Booking</a>
                        <a href="#about">About</a>
                        <div class="drop">
                            <a href="contact">Contact</a>
                            <a href="contact">Subscribe</a>
                            <a href="menu">Menu</a>
                            
                        </div>               
                    </div>
                </nav>
            </header>
        {% endblock %}

        {% block coffee_background %}
        {% endblock %}

        {% block imgs %}
        {% endblock %}

        {% block about %}
        {% endblock %}

        {% block footer %}
        <div class="footer">
            <div class="grid-footer">
                <ul>Opening Hours
                    <hr style="display: block; margin-before: 0.5em; margin-after: 0.5em; width: 2.5rem; overflow: hidden; border-style: solid; border-width: 1px; margin-top: 1rem;">
                    <li><p>Monday - Friday</p><p>7am - 2pm</p></li>
                    <li><p>Saturday</p><p>10am - 2pm</p></li>
                    <li><p>Sunday</p><p>Closed</p></li>
                </ul>

                <div class="p-info-font">Stay In Touch
                    <hr style="display: block; margin-before: 0.5em; margin-after: 0.5em; width: 2.5rem; overflow: hidden; border-style: solid; border-width: 1px; margin-top: 1rem;">
                    <a href="#" style="line-height: normal; margin-top: 1rem;"><i class="fas fa-map-marker-alt" style="margin: 0;"></i><br>Somewhere in Europe<br>Dublin<br>Ireland</a>
                    <a href="#"><i class="fas fa-envelope"></i>CoffeShop@mysite.com</a>
                    <a href="#"><i class="fas fa-phone-volume"></i>Tel: (353) 0011-2233</a>
                </div>

                <div class="post">Recent Posts
                    <ul>
                        <div class="img-new style-new"></div>
                        <li><h1>New grain selection!</h1><p>A new selection of beans has been added to our coffee.</p></li>
                    </ul>

                    <ul>
                        <div class="img-new0 style-new"></div>
                        <li><h1>Summer Flavors!</h1><p>Try this new sensation of summer, super refreshing!</p></li>
                    </ul>
                </div>
            </div>

            <div class="social-footer">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-solid fa-paper-plane"></i></a>
            </div>
        </div>
        {% endblock %}

    </body>
</html>