{% extends "base.html" %}
{% load static %}

{% block context %}
    <h1 class="reser">Booking</h1>

    <!--Gallery-->
    <div class =" container-galeria ">
        <div class =" item-galeria w-2 h-2 ">
            <img src ="https://images.unsplash.com/photo-1479894127662-a987d1e38f82?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt ="" class =" img-galeria "><span class =" title-galeria "></span>
        </div>
        <div class =" item-galeria w-2 h-1 ">
            <img src ="https://images.pexels.com/photos/312420/pexels-photo-312420.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt ="" class =" img-galeria "><span class =" title-galeria "></span>
        </div>
        <div class =" item-galeria w-1 h-2 ">
            <img src ="https://images.unsplash.com/photo-1620360289812-0abdae69d6d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80" alt ="" class =" img-galeria "><span class =" title-galeria "></span>
        </div>
        <div class =" item-galeria w-1 h-1 ">
            <img src ="https://images.unsplash.com/photo-1482350325005-eda5e677279b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80" alt ="" class =" img-galeria "> <span class =" title-galeria "></span>
        </div>
        <div class =" item-galeria w-2 h-2 ">
            <img src ="https://images.pexels.com/photos/3838629/pexels-photo-3838629.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt ="" class =" img-galeria "><span class =" title-galeria "></span>
        </div>
        <div class =" item-galeria w-1 h-2 ">
            <img src ="https://images.unsplash.com/photo-1559941003-4f656f95b734?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1460&q=80" alt ="" class =" img-galeria "><span class =" title-galeria "></span>
        </div>
        <div class =" item-galeria w-1 h-1 ">
            <img src ="https://images.unsplash.com/photo-1520284456528-3926543323c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt ="" class =" img-galeria "><span class =" title-galeria " ></span>
        </div>
        <div class =" item-galeria w-1 h-1 ">
            <img src ="https://images.unsplash.com/photo-1515094189972-f6f607878a49?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80" alt ="" class =" img-galeria "><span  class =" title-galeria "></span>
        </div>
        <div class =" item-galeria w-1 h-1 ">
            <img  src ="https://images.unsplash.com/photo-1626790477331-add9bde2fdce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2076&q=80" alt ="" class =" img-galeria "><span  class =" title-galeria " ></span>
        </div>
    </div>

    <!--3 Cup of coffee-->
    <div class="coffee-all">
        <div class="cup-coffee">
            <div class="img-s1 all-s"></div>
            <div class="text-coffee">
                <h1>Special Mocha</h1>
                <p>Some description of the coffee here. Will have a brief description of the drink.</p>
            </div>
        </div>
        <div class="cup-coffee">
            <div class="img-s2 all-s"></div>
            <div class="text-coffee">
                <h1>Pure coffee</h1>
                <p>Some description of the coffee here. Will have a brief description of the drink.</p>
            </div>
        </div>
        <div class="cup-coffee">
            <div class="img-s3 all-s"></div>
            <div class="text-coffee">
                <h1>Summer Refreshing Coffee</h1>
                <p>Some description of the coffee here. Will have a brief description of the drink.</p>
            </div>
        </div>
    </div>

    <!--Send-->
    <p class="send">Send us the information so we can organize everything for you!</p>

    <div class="booking">
        <form action="{% url 'booking' %}" method="POST">
            {% csrf_token %}
            <div class="p-allinfo">
                <input name="date" class="information" type="date" required/><!--Date-->
                <input name="time" class="information" type="time" required/><!--Time-->                    
            </div>
            <div class="p-allinfo">
                <input name="name" class="information" style="text-transform: capitalize;" placeholder="Name:" type="text" required/><!--Name-->
                <input name="lastname" class="information" style="text-transform: capitalize;" placeholder="Last name:" type="text" required/><!--Last name-->
            </div>
            <div class="p-allinfo">
                <input name="email" class="information" placeholder="E-mail:" type="email" required/><!--E-mail-->
                <input name="phone" class="information" placeholder="Phone:" type="tel" required/><!--Phone-->                    
            </div>
            <div class="p-allinfo">
                <select name="nperson" class="information" required><!--Persons-->
                    <option value="1">1 person</option>
                    <option value="2">2 persons</option>
                    <option value="3">3 persons</option>
                    <option value="4">4 persons</option>
                    <option value="5">5 persons</option>
                    <option value="6">6 persons</option>
                    <option value="7">7 persons or more</option>
                </select>
            </div>
            <textarea name="comments" class="p-allinfo information" style="text-transform: capitalize;" cols="50" rows="6" placeholder="Comments (optional):"></textarea><!--Comment-->
            <input class="submit" type="submit" value="Submit"/><!--Submit-->
        </form>
    </div>
{% endblock %}